node_modules

# Lockfiles we don't use
package-lock.json
yarn.lock
bun.lock

# OS
.DS_Store
Thumbs.db

# Env & secrets
.env
.env.*
!.env.example

# Build artifacts
.cache
.output
.wrangler
.vercel
.netlify
dist
build/
api/
server/build
public/build

# Database
.data
*.db
*.db-journal

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# TanStack
.tanstack